/* You can add global styles to this file, and also import other style files */
nav {
    background-color: #4db6ac;
}

body {
    background-color: rgba(0, 105, 92, 0.14);
    height: 100%;
    margin: 0;
}